<%= form_for @book, html: { multipart: true } do |form| %>
  <div id="cover" class="fileupload fileupload-new pull-left" data-provides="fileupload">
    <div class="fileupload-new thumbnail img-polaroid">
      <%= image_tag @book.cover.url(:edit) %>
    </div>
    <div class="fileupload-preview fileupload-exists thumbnail img-polaroid"></div>
    <div>
      <span class="btn btn-file">
        <span class="fileupload-new">Select image</span>
        <span class="fileupload-exists">Change</span>
        <%= form.file_field :cover %>
      </span>
      <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Remove</a>
    </div>
  </div>
  <div id="title-description" class="pull-left span7">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'span7' %>
    <%= form.label :description %>
    <%= form.text_area :description, class: 'span7' %>
  </div>
  <div id="details" class="pull-left span2">
    <%= form.label :author %>
    <%= form.text_field :author, class: 'input-medium' %>
    <%= form.label :publishing_date %>
    <%= form.text_field :publishing_date, class: 'input-medium' %>
    <%= form.label :pages %>
    <%= form.text_field :pages, class: 'input-mini' %>
    <%= form.label :isbn %>
    <%= form.text_field :isbn, class: 'input-medium' %>
  </div>
  <ul id="actions" class="inline pull-right">
    <li>
      <%= form.submit @book.new_record? ? t('books.form.label.add') : t('books.form.label.update'),
                      class: 'btn btn-primary' %>
    </li>
    <li>
      <%= link_to 'Cancel', @book, class: 'btn', id: 'cancel' %>
    </li>
  </ul>
<% end %>
