<h1><%= t('books.list.header') %></h1>

<%= will_paginate @books %>

<table class="table table-bordered list">
  <thead>
  <tr>
    <th></th>
    <th><%= t('books.list.title') %></th>
    <th><%= t('books.list.author') %></th>
    <th><%= t('books.list.published') %></th>
    <th><%= t('books.list.description') %></th>
  </tr>
  </thead>
  <tbody>
    <% @books.each do |book| %>
      <tr>
        <td class="cover">
          <a href="<%= book.cover.url %>" class="fancybox">
            <%= image_tag book.cover.url(:thumb), class: 'img-polaroid' %>
          </a>
        </td>
        <td class="title">
          <strong><%= link_to book.title, book %></strong>
        </td>
        <td class="author">
          <%= book.author %>
        </td>
        <td class="published">
          <%= book.publishing_date %>
        </td>
        <td class="description">
          <%= truncate book.description, length: 160, separator: ' ' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate @books %>