<h2><%= @book.title %></h2>
<h4>
  <em>
    <% if @book.authors.empty? %>
      -
    <% else %>
      <%= 'by ' %>
      <% @book.authors.each_with_index do |author, i| %>
        <% author.name.concat(',') unless @book.authors.length - 1 == i %>
        <%= author.name %>
      <% end %>
    <% end %>
  </em>
</h4>
<a href="<%= @book.cover.url %>" class="fancybox">
  <%= image_tag @book.cover.url(:medium), class: 'pull-left img-polaroid' %>
</a>
<p id="description" class="pull-left">
  <%= @book.description %>
</p>
<ul id="details" class="unstyled pull-left">
  <li>
    <strong>Published:</strong> <%= @book.publishing_date %>
  </li>
  <li>
    <strong>Pages:</strong> <%= @book.pages %>
  </li>
  <li>
    <strong>ISBN:</strong> <%= @book.isbn %>
  </li>
</ul>
<ul id="actions" class="inline pull-right">
  <li>
    <%= link_to 'Edit', edit_book_path(@book), class: 'btn btn-info' %>
  </li>
  <li>
    <%= link_to 'Destroy', @book, method: :delete,
                data: { confirm: 'Are you sure? This operation cannot be undone' },
                class: 'btn btn-danger' %>
  </li>
</ul>
