<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_path %>"><%= t('layouts.application.title') %></a>
    <ul class="nav">
      <%= nav_link t('menu.catalog'), { controller: :home, action: :catalog } %>
    </ul>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t('menu.books.label') %>
          <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
          <%= nav_link t('menu.books.show'), books_path %>
          <%= nav_link t('menu.books.add'), new_book_path %>
        </ul>
      </li>
    </ul>
  </div>
</div>