<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="<%= root_path %>">
      <%= SITE_NAME %>
    </a>
    <%= render_list class: "nav" do |li|
      li << link_to(t("menu.catalog"), { controller: :home, action: :catalog })
    end %>
    <ul class="nav pull-right">
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t('menu.books.label') %>
          <b class="caret"></b>
        </a>
        <%= render_list class: "dropdown-menu" do |li|
          li << link_to(t('menu.books.show'), books_path)
          li << link_to(t('menu.books.add'), new_book_path)
        end %>
      </li>
      <li class="dropdown">
        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
          <%= t('menu.authors.label') %>
          <b class="caret"></b>
        </a>
        <%= render_list class: "dropdown-menu" do |li|
          li << link_to(t('menu.authors.show'), authors_path)
          li << link_to(t('menu.authors.add'), new_author_path)
        end %>
      </li>
    </ul>
  </div>
</div>